:root {
    --main-color-bg: #ffffff;
    --main-text-color: #ffffff;
}



body {
   font-family: "Open Sans" sans-serif; 
   font-style: normal;
   font-size: 18px;
   background-color: #ffffff;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0px;
}

img {
    display: block;
}

.list {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.link {
    text-decoration: none;
    
}



.container {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    outline: solid 1px orange;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}


/*--------------HEADER---------*/

.nav-container {
    display: flex;
    background: #000;
}

.nav-header {
    display: flex;
    align-items: center;
    
}

.nav-list {
    display: flex;
    margin-left: 131px;
    
    gap: 30px;
    font-weight: 600;
    font-size: 12px;
    line-height: calc(16/12);
    letter-spacing: 0.1em;
    

}

.link-nav {
    color: var(--main-text-color);
}

.nav-contact {
    display: flex;
    align-items: center;
    margin-left: 254px;
    gap: 43px;
    font-weight: 600;
    font-size: 12px;
    line-height: calc(16/12);
    letter-spacing: 0.09em;
    text-transform: uppercase;
    
}

.header-tel {
    color: var(--main-text-color);
}

.header-btn {
    font-weight: 600;
    font-size: 12px;
    line-height: calc(16/12);
    letter-spacing: 0.09em;
    text-transform: uppercase;
    width: 160px;
    height: 40px;
    border-radius: 25px;
    border: 1px solid #FF6C00;
    background-color: transparent;
    
    color: var(--main-text-color);
}
